@model IEnumerable<Drzava>
@{
    ViewData["Title"] = "Index";
    int brojac = 1;
}

<div class="portlet">
    <div class="portlet-title form-inline">
        <h3>
           Lista drzave
        </h3>
        <div class="pull-right">
           
            <div class="form-group">
                <a id="link" href="@Url.Action("Dodaj", "Drzave")" class="btn btn-primary modal-link">+ Dodaj</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Redni broj</th>
            <th>Naziv</th>
            <th>Oznaka</th>
            <th class="text-center">Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
        <tr>
            <td>@(brojac++)</td>
            <td>@d.Naziv</td>
            <td>@d.Oznaka</td>
            <td class="text-center">
                <form asp-action="Obrisi" method="post">
                    <a asp-action="Detalji" asp-route-id="@d.DrzavaID" class="btn btn-info">Detalji</a>
                    <button type="submit" class="btn btn-danger">Obrisi</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>