@model KorisniciIndexViewModel
@{
    ViewData["Title"] = "Index";
    int brojac = 1;
}

<section id="main-content">
    <section class="wrapper">

        <h2>Lista korisnika</h2>

        <hr />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Korisnicko ime</th>
                    <th>Email</th>
                    <th>Datum registracije</th>
                    <th>Aktivan</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model.Rows)
                {
                <tr>
                    <td>@(brojac++)</td>
                    <td>@k.Ime</td>
                    <td>@k.Prezime</td>
                    <td>@k.KorisnickoIme</td>
                    <td>@k.Email</td>
                    <td>@k.DatumRegistracije</td>
                    <td>@k.Aktivan</td>
                    <td>
                        <form asp-action="Obrisi" method="post">
                            <input name="KorisnikID" value="@k.KorisnikID" type="hidden" />
                            <a asp-action="Uredi" asp-route-korisnikID="@k.KorisnikID" class="btn btn-info">Uredi</a>
                            <button type="submit" class="btn btn-danger">Obrisi</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </section>
</section>


